.App {
  text-align: center;
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------- */
.nav-item a:hover {
  /* sidebar */
  /* background-color: #19A7CE; */

  /* navbar */
  background-color: #77CDFF;
}
.active {
  background-color: #19A7CE;
  border-radius: 0.5rem;
}

.sidebar{
  background-color: #91C8E4;
}
.box{
  border: solid 2px black;
  border-radius: 0.5rem;
  height: 7rem; /* Atur tinggi */
  width: 14rem;
  background-color: #f0f0f0; /* Warna latar belakang kotak */
  margin: 1rem; /* Jarak */
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.usage_lable{
  font-size: 1.5rem;
  font-weight: bold;
}
.box_info{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
}

.value{
  font-size: 2.4rem;
}

.box_head_title{
  font-size: 2rem;
  font-weight: bold;
}

.container-with-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p_center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Pastikan div memiliki tinggi yang cukup untuk pusat vertikal */
  width: 100%; /* Untuk memastikan bahwa div mengambil lebar penuh */
}

.sub_title{
  font-size: 1.2rem;
  font-weight: bold;
}
.nowrap{
  white-space: nowrap;
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.k8s_cluster_box{
  border: solid 1px;
  border-radius: 0.7rem;
  height: 100%; 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.k8s_cluster_sub_box{
  /* border: solid 1px; */
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.sub_box_usage{
  border: solid 2px;
  border-radius: 0.3rem;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub_box_usage_logo{
  justify-content: center;
  align-items: center;
}

.sub_1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.sub_box_usage_value{
  font-size: 2.5rem;
  font-weight: bold;
}
/* .top-section {
  height: 20%; 
  padding: 10px;
  background: #f0f0f0;
}

.bottom-section {
  max-height: 59%; 
  overflow-y: auto; 
  overflow-x: hidden;
  padding: 10px;
} */

.cpu{
 background-color: #FFB22C;
}

.memory{
  background-color: #28DF99;
}

.noCluster{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 5;
  height: 100%;
}

.noClusterText{
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

.dockerfile{
  padding-top: 3rem;  
}

.hrborder{
  border-top: 0.2rem dashed red;
}

.hrborder2{
  border: 0;
  border-top: 0.2rem solid; /* Warna akan ditentukan dari border-image */
  border-image: repeating-linear-gradient(
    to right,
    green 0,
    green 10px,        /* Panjang dash */
    transparent 10px,
    transparent 30px /* Jarak antara dash */
  ) 1;
}
.form-label{
  padding-right: .2rem;
  color: blue;
  font-weight:500;
  font-size: 1.2rem;
}

.vm-label{
  padding-right: .2rem;
  color: blue;
  font-weight:600;
  /* font-size: 1.1rem; */
}

/* VM deployment log */
.row-start {
  background-color: #dbeafe; /* Biru muda */
}

.row-process {
  background-color: #fef9c3; /* Kuning muda */
}

.row-finished {
  background-color: #dcfce7; /* Hijau muda */
}

.row-error{
  background-color: #fcdcdc;
}
.table-brdr{
  border: 2px solid black;
}